* {
  font-family: "Trirong", serif;
}

#game {
  z-index: 1;
  position: fixed;
  top: 0;
}

#time {
  position: absolute;
  width: 580px;
  height: 50px;
  font-size: xx-large;
  margin: 10px;
  text-align: center;
}

#DestinationPersonne {
  position : fixed;
  left: 2%;
  bottom: 2%;
  width: 500px; 
  height: 500px;
  display: none;
  background-color: rgba(191, 191, 191, 0.50);
}

.destPersonne {
  position : fixed;
  left: 11%;
  bottom: 36%;
  text-align: center;
}

.fenetre {
  display: none;
  position: fixed;
  z-index: 30;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(191, 191, 191, 0.50);
  padding: 8% 15%;
  text-align: center;
  background-repeat: no-repeat;
}

.menuPause {
  display: none;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(191, 191, 191, 0.50);
  padding: 15% 15%;
  text-align: center;
  background-repeat: no-repeat;
}

.miniJeu {
  display: none;
  position: fixed;
  top: -10%;
  z-index: 5;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  padding: 15% 15%;
  text-align: center;
  background-repeat: no-repeat;
}

#gameOver {
  display: none;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(191, 191, 191, 0.50);
  padding: 12% 15%;
  text-align: center;
  background-repeat: no-repeat;
}

.menuParametre {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(191, 191, 191, 0.50);
  padding: 15% 15%;
  text-align:center;
  background-repeat: no-repeat;
}

.alerte {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(191, 191, 191, 0.50);
  padding: 21% 15%;
  text-align: center;
  top: 0;
  background-repeat: no-repeat;
}

/*jauges voitures / humeur*/

.jauges {
  position: relative;
  float: right;
  z-index: 1;
  margin: 0 20px;
}

.jaugeVoiture, .jaugeHumeur {
  height: 6rem;
  width: fit-content;
}

.voitureProgress, .humeurProgress {
  width: 400px;
  height: 3rem;
  margin: 25px;
  border-radius: 1rem;
  background: #f9f9f9;
  position: relative;
  float: right;
  z-index: 2;
}

.humeurProgress {
  display: inline-block;
  width: 400px;
  height: 3rem;
  margin: 25px;
  border-radius: 1rem;
  background: #f9f9f9;
  position: fixed;
  z-index: 2;
}

.bar {
  border-radius: 1rem;
  width: 0%;
  height: 100%;
  transition: width;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.36,.55,.63,.48);
  z-index: 3;
}

.shadow {
  box-shadow: 0px 45px 50px rgba(0, 0, 0, 0.25); 
}

.overlapVoiture {
  background-color : #E65E45;
}

.overlapHumeur {
  background-color : #e2942e;
}

.calcul {
  display: inline-block;
  width: 40px;
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
  font-size: 1.5rem;
  color: red;
  opacity: 1;
  visibility: hidden;
  transition: transform 4s, font-size 4s, opacity 4s;
}

.augmenteJauge {
  transform: translate(0, -50px);
  font-size: 2rem;
  opacity: 0;
}

/* compteur de personnes */
.compteur {
  z-index: 2;
  margin-top: 60px;
  margin-left: 194px;
}

.newBadge {
  display: block;
  width: fit-content;
  text-align: center;
  font-size: 1.5rem;
  color: green;
  opacity: 1;
  position: fixed;
  margin-top: -2rem;
  margin-left: 2rem;
  visibility: hidden;
  transition: transform 4s, font-size 4s, opacity 4s
}

.nouveauBadge {
  transform: translate(0, -50px);
  font-size: 2rem;
  opacity: 0;
}

.etoile {
  width: 100px;
}

.relireTuto {
  position: relative;
  float: right;
  margin-right: 1%;
  z-index: 2;
  cursor: help;
}

.tuto {
  display: none;
  position: fixed;
  border-radius: 75px;
  margin: 5%;
  z-index: 2;
  height: 74%;
  width: 90%;
  padding: 4%;
  text-align: center;
  font-size: 20px;
  background-color:rgba(191, 191, 191, 0.8);
}

#phraseTuto {
  position: relative;
}

#tuto1 {
  margin-right: 10rem;
}

#tuto3 {
  margin-left: 10rem;
}

#tuto8 {
  margin-right: 10rem;
}

#tuto6, #tuto7 {
  position: absolute;
  top: 25px;
  left: 30px;
}

#tuto6 {
  z-index: 2;
  margin-top: 15%;
}

#tuto7 {
  z-index: 2;
  margin-left: 85%;
  margin-top: 7rem;
}

#tuto9 {
  margin-left: 10rem;
}

#imgPage2 {
  margin-bottom: 5rem;
}

.boutonCoucou {
  background: transparent; outline: none;
  background-color: #D9DCDF;
  color:black;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 180px;
  height: 75px;
  border: none;
  padding: 25px 13px;
  overflow: hidden;
}

.pagination {
  display: none;
  position: fixed;
  bottom: 23%;
}

.pagination button {
  background-color:rgba(0, 0, 0, 0);
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  margin: 0 4px;
}

.pagination button.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
  color: #4CAF50;
  border-radius: 5px;
}

.content {
  background-repeat: no-repeat;
  padding:2%;
  width: 100%; 
  height: 100%; 
}

.pause {
  position: relative;
  float: right;
  z-index: 2;
  margin: 15px 20px;
  height: 45px;
  width: 45px;
  border-radius: 7px;
}

.mairie {
  background-image: url("./pictures/mairie.png");
}

.panneau {
  margin-left: 2%;
  margin-top: 17%;
  width: 50%;
}

.kiosque {
  background-image: url("./pictures/kiosque.png");
}

.pancarte {
  margin-left: 1%;
  margin-top: 24%;
  width: 50%;
}

.technicentre {
  background-image: url("./pictures/technicentre.png");
}

.tableau {
  margin-left: 2%;
  margin-top: 23%;
  width: 50%;
}

.parking {
  background-image: url("./pictures/parking.png");
}

.barriere {
  margin-left: 5%;
    margin-top: 7.5%;
    width: 50%;
    color: white;
}

.garage {
  background-image: url("./pictures/garage.png");
}

.porte {
  margin-left: 6%;
  margin-top: 7%;
  width: 20%;
}

.atelier {
  background-image: url("./pictures/atelier.png");
}

.affiche {
  margin-left: 6%;
  margin-top: 7.8%;
  width: 50%;
}

/*Mini Jeu Atelier*/

#image {
  width:1000px;
  height:750px;
  position: absolute;
  z-index: -2;
}

#canvas {
  margin-top: 15px;
  margin-left: 95px;
  z-index: 3;
}

/*Mini Jeu Parking*/

.parkingContent {
  background: url("./pictures/parkingminijeu.png") no-repeat;
  background-size: 628px 652px;
  background-position: center;
}

.box {
  display: inline-block;
}

.unP {
  position:fixed;
  margin-left:2rem;
}

.troisP {
  position:fixed;
  margin-left:4.1rem;
}

.droppableP {
  display:block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  background-color: #fff;
  border: 2px dashed #111;
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
  height: 6.6rem;
  width: 10rem;
}

.voitureJaune {
  margin-bottom:7.9rem;
}

.droppableP.voitureJaune {
  margin-top: 0.2rem;
}

.droppableP.voitureBleu{
  margin-top: 14.5rem;
}

.droppableP.voitureVert{
  margin-top:0.8rem;
}

.draggableP {
  display: flex;
  font-size: 4rem;
  margin: 1rem auto;
  cursor: move;
  transition: opacity 0.2s;
  margin-left:17rem;
  margin-bottom: 7rem;
}

.draggableP:hover {
  opacity: 0.5;
}

.droppableP span {
  font-size: 1.25rem;
  pointer-events: none; 
}

.draggableP-elements {
  margin-top: 3rem;
}

.droppableP.droppableP-hover {
  border-width: 3px;
  transform: scale(1.1);
}

.droppableP.droppedP {
  border-style: solid;
  color: #fff;
}

.droppableP.droppedP span {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.droppableP.droppedP img {
  margin-top: 1rem;
  justify-content: center;
  pointer-events: none;
}

.droppableP.droppedP.voitureRouge img {
  margin-top: 0;
}

.droppableP.droppedP.voitureBleu img {
  margin-top: 0;
}

.droppableP.droppedP.voitureVert img {
  margin-top: 0;
}

.draggableP.draggedP {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}

.draggableP.draggedP:hover {
  opacity: 0.1;
}

@media (max-width: 600px) {
  html { font-size: 14px; }
  .draggableP-elements { margin: 1.5rem; }
}

/*Mini Jeu Garage*/

.grid-container {
  display: grid;
  grid-gap: 15px;
  padding: 15px;
}
  
.grid-item {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.item1 {
  grid-column: 1;
  grid-row: 1;
}
  
.item2 {
  grid-column: 2;
  grid-row: 1;
}
  
.item3 {
  grid-column: 3;
  grid-row: 1;
}

.item4 {
  grid-column: 4;
  grid-row: 1;
}

.item10 {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.draggableG-elements {
  display: flex;
  justify-content: center;
}

.draggableG {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  cursor: move;
  transition: opacity 0.2s;
}

.draggableG:hover {
  opacity: 0.5;
}

.droppableG {
  position: fixed;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}

.rouge1 {
  top: 240px;
  left: 612px;
}

.rouge2 {
  top: 240px;
  left: 728px;
}

.bleu1 {
  top: 240px;
  left: 1022px;
}

.bleu2 {
  top: 240px;
  left: 1137px;
}

.jaune1 {
  top: 385px;
  left: 612px;
}

.jaune2 {
  top: 385px;
  left: 728px;
}

.vert1 {
  top: 385px;
  left: 1022px;
}

.vert2 {
  top: 385px;
  left: 1137px;
}

.droppableG.droppableG-hover {
  border-width: 5px;
  transform: scale(1.1);
}

.droppableG.droppedG span {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.droppableG.droppedG i {
  pointer-events: none;
}

.draggableG.draggedG {
  user-select: none;
  cursor: default;
  opacity:0;
}

.draggableG.draggedG:hover {
  opacity: 0.1;
}

@media (max-width: 600px) {
  html { font-size: 14px; }
  .draggableG-elements { margin: 1.5rem; }
}

/* Mini-Jeu Technicentre */

.technicentreContent {
  background: url(./pictures/fond.jpg) no-repeat;
  background-size: 70% 90%;
  background-position: center;
  color: #111;
}

.unT {
  position:fixed;

}

.deuxT {
    margin-top: 28rem;
    margin-left: 5rem;
}

.troisT {
  position:fixed;
  margin-left:2.8rem;
}

.train {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.droppableT {
  display:block;
  justify-content: center;
  align-items: center;
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}

.droppableT-elements {
  margin-top: 30rem;
  margin-left: 18rem;
}

.buche1 {  
  z-index:2;
  margin-left: 34rem;
}

.buche2 {
  float: left;
  z-index: 2;
  margin-left: 35rem;
}

.buche3 {
  clear:left;
  float:left;
  margin-left: 36rem;
}

.buche4 {
  height: 10rem;
  width: 5rem;
  margin-left: 36rem;
}

.buche1, .buche2, .buche3, .buche4 {
  display: block;
  width: 10rem;
}

.draggableT {
  height: 7rem;
  font-size: 4rem;
  cursor: move;
  transition: opacity 0.2s;
}

.draggableT-elements {
  margin-top: 1rem;
}

.draggableT:hover {
  opacity: 0.5;
}

.droppableT span {
  font-size: 1.25rem;
  pointer-events: none;
}

.poubelle.droppableT-hover {
  border-width: 5px;
  transform: scale(1.1);
}

.droppableT.droppedT {
  border-style: solid;
  color: #fff;
}

.droppableT.droppedT span {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.droppableT.droppedT img {
  pointer-events: none;
}

.draggableT.draggedT {
  user-select: none;
  opacity: 0.0;
  cursor: default;
}

@media (max-width: 600px) {
  html { font-size: 14px; }
  .draggableT-elements { margin: 1.5rem; }
}

.gare {
  background-image: url("./pictures/gare.png");
}

.tabAff {
  color:white;
  margin-left: 5%;
  margin-top: 5.5%;
  width: 50%;
}

.stationV {
  background-image: url("./pictures/stationV.png");
  padding: 4.5% 2%;
}

.compteurV {
  color:white;
  margin-left: 5%;
  margin-top: 3%;
  width: 50%;
}

.stationM {
  background-image: url("./pictures/stationM.png");
}

.horaireM {
  color:white;
  margin-left: 5%;
  margin-top: 2%;
  width: 50%;
}


.cancel {
  letter-spacing:0.3em;
  float:right;
  margin-right: 4%;
}

#button {
  z-index: 2;
  position: absolute;
}

.personne {
  background-image: url("./pictures/personne.png");
}

/*Initialisation*/
#level {
  display: none;
}

#home {
  display: none;
}

/* Page Choix Niveau */
.choixNivo {
  display: block;
  position: fixed;
  z-index: 2;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  padding: 15% 15%;
  text-align:center;
  background-repeat: no-repeat;
}

.boutonChoix:hover {cursor: pointer}
.boutonChoix {
  background: transparent; outline: none;
  position: fixed;
  top: 31%;
  background-color: #D9DCDF;
  color:black;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 150px;
  height: 75px;
  border: none;
  padding: 25px 13px;
  overflow: hidden;
}

.boutonChoix:disabled:hover {cursor: not-allowed}
.boutonChoix:disabled {
  background-color:#333333;
  color:white;
}

#level0{
  left:305px;
}
#level1{
  left:535px;
}
#level2{
  left:765px;
}
#level3{
  left:995px;
}
#level4{
  left:1225px;
}
#level5{
  left:1455px;
}

.boutonChoix:hover:before {opacity: 1; transform: translate(0,0);}
.boutonChoix:before {
  content: attr(data-hover);
  position: absolute;
  top: 35%; left: 2%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 15px;
  opacity: 0;
  transform: translate(-100%,0);
  transition: all .3s ease-in-out;
}

#level0:before{
  color: #1E8525;
}
#level1:before{
  color: #8CC24A;
}
#level2:before{
  color: #FDCD43;
}
#level3:before{
  color: #FDCD43;
}
#level4:before{
  color: #FC8925;
}
#level5:before{
  color: #FD4343;
}

.boutonChoix:hover div {opacity: 0; transform: translate(100%,0)}
.boutonChoix div {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 15px;
  transition: all .3s ease-in-out;
}

/* Page démarrer */
.menuDemarrer {
  display: block;
  position: fixed;
  z-index: 2;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  padding: 15% 15%;
  text-align:center;
  background-repeat: no-repeat;
}

.logoD {
  position: fixed;
  left: 505px;
  width:900px;
}

.boutonPlay:hover {cursor: pointer}
.boutonPlay {
  background: transparent; outline: none;
  position: fixed;
  top: 51%;
  left:805px;
  background-color: #333333;
  color:white;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 300px;
  height: 100px;
  border: none;
  padding: 15px 50px;
  overflow: hidden;
}

.boutonPlay:hover:before {opacity: 1; transform: translate(0,0);}
.boutonPlay:before {
  content: attr(data-hover);
  position: absolute;
  top: 13%; left: 2%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 25px;
  opacity: 0;
  transform: translate(-100%,0);
  transition: all .3s ease-in-out;
}

.boutonPlay:hover div {opacity: 0; transform: translate(100%,0)}
.boutonPlay div {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 800;
  font-size: 35px;
  transition: all .3s ease-in-out;
}

/* Page de Chargement */
#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3EB6A8;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #F9C938;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #AB151E;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.trainBouge {
  width: 1700px;
  position: relative;
  animation-name: locomotive;
  animation-duration: 6s;
}

@keyframes locomotive {
  0%   {left:-1400px; top:820px;}
  3%   {left:-1400px; top:820px;}
  100%   {left:6500px; top:820px;}
}

.logoC {
  position: fixed;
  top: 240px;
  left: 640px;
}

.onoffswitch {
  position: relative; width: 55px;
}

.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 20px; padding: 0; line-height: 20px;
  border: 0px solid #FFFFFF; border-radius: 30px;
  background-color: #9E9E9E;
}

.onoffswitch-label:before {
  content: "";
  display: block; width: 30px; margin: -5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 31px;
  border-radius: 30px;
  box-shadow: 0 6px 12px 0px #757575;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #333333;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #333333;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; 
  background-color: #333333; 
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

.info{
  position: fixed;
  right: 25px;
  border-radius: 23px;
  top: 25px;
  background-color: rgba(191, 191, 191, 0.80);
}

.boutonMilieu{
  background: transparent;
  background-color: #333333;
  outline: none;
  color: white;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 390px;
  height: 100px;
  border: none;
  padding: 15px 50px;
  overflow: hidden;
  font-size: 25px;
}
.boutonMilieu:hover{
  background-color: #7a7a7a;
}

.boutonOption{
  background: transparent;
  border: 4px solid #333333;
  outline: none;
  color: white;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 390px;
  height: 100px;
  padding: 15px 50px;
  overflow: hidden;
  font-size: 25px;
  margin-left: 474px;
}

.btnAlerte{
  background: transparent;
  background-color: #333333;
  outline: none;
  color: white;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 160px;
  height: 60px;
  border: none;
  padding: 5px;
  overflow: hidden;
  font-size: 25px;
  margin: 13px 50px;
}

.petitBouton{
  background: transparent;
  background-color: #333333;
  outline: none;
  color: white;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 60px;
  height: 30px;
  margin-top:15px;
  border: none;
  padding: 5px;
  overflow: hidden;
  font-size: 15px;
}

.petitBouton2 {
  background: transparent;
  background-color: #333333;
  outline: none;
  color: white;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 200px;
  height: 40px;
  margin-top:15px;
  border: none;
  padding: 5px;
  overflow: hidden;
  font-size: 15px;
}

.petitBouton3 {
  background: transparent;
  background-color: #cacaca;
  outline: none;
  color: black;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 250px;
  height: 40px;
  border: none;
  padding: 5px;
  overflow: hidden;
  font-size: 15px;
}

.petitBouton4 {
  background: transparent;
  background-color: #333333;
  outline: none;
  color: white;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 60px;
  height: 40px;
  border: none;
  padding: 5px;
  overflow: hidden;
  font-size: 15px;
}